

body{
    background-color: #7a7a7a;
}



nav{
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  padding-left: 15px;
  background-color: rgb(152, 210, 116);
   display: inline-block; 
}

nav a.me{
    background-color: #fbfbfb;
    margin-left: 26rem;
    color: #000000; 
}
a{
    border: 1px solid black;
    padding: 6px 8px;
    text-decoration: none;
     background-color: rgb(214, 212, 210);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
}

nav a.you{
    padding: 6px 17px;
    background-color: rgb(255, 0, 0);
    color: black;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
}  

 a:hover{
color: rgb(0, 0, 0);
background-color: #ffffff;
font-size: 18px;
border: 1.5px solid black;
}

nav a.you:hover{
    color: azure;
    background-color: #000000;
    font-size: 20px;
} 

h1{
    background-color: #01c8ff;
    text-align: center;
    display: inline-block;
    margin-left: 20rem;
    padding: 2px 8px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    
} 


button{
    background-color: #00fb36;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 6rem;

} 

button:hover{
    font-size: 15PX;
    background-color: #000000;
    color: #ffffff;
    font-family: cursive;
    border-radius: 5px;
    border:  1.5p solid rgb(55, 255, 0);
   
} 

form{
margin-left: 29rem;
margin-top: 8rem;
border: 1px solid black;
background-color: #5c737c;
margin-right: 16rem;
padding: 10px 25px;
border-radius: 10px;
display:inline-block;

}
 h3{
    color: #ffffff;
    background-color: #7c6204;
    padding: 0.25rem;
    border-radius:4px;
    margin-top: 2rem;
}

ul{
    border: 1px solid red;
    background-color: #d4d1d1;
    padding: 1rem 2rem;
    border-radius: 5px;
} 

